body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}  

ul {
  text-align: left;
}

.blog-text {
  white-space: pre-wrap;
}

.poem-text {
  white-space: pre-wrap;
  font-family: "URW Chancery L", "Apple Chancery";
  font-size: large;
}

.at-sign {
  padding: 2em;
}  

.btn {
  color: slategrey;
}

.mid-grey {
  color: #A0A1A2;
}

.open-new-tab {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 0.1875rem 0 0.3125rem;
}

@media (min-width: 768px) {
  .mw-md {
    max-width: 768px;
  }
}